/**{
  border: 2px solid red;
  margin: 1px 3px 1px 3px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;

}*/

body{
  font-family: 'Allerta', sans-serif;
  margin: 0;
}
.titulo{
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0px;
margin-top: 70px;
}

.background {
  background-image: url("../images/background.png");
  background-size: cover;
}

.title-a{
  font-size: 24px;
  margin-top: 0;
}

input, textarea {
  outline: 0;
}

input:focus, textarea:focus {
  background: lightgray;
}

.guitarras h2 {
  font-size: 35px;
}
.title-b{
  font-size: 50px;
  margin-bottom: 20px;
}

.portada{
  color: white;
  padding: 20px;
  height: 500px

}

.guitarras {
  color: #1F313C;
  margin-bottom: 60px !important;
}

.menu{
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0

}

.logotipo, .menu li {
	display: inline-block;
  margin-left: 30px;
}

.menu li:before{
content: "∘";
line-height: 20px;
font-size: 30px;
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
}
.boton {
  font-family: 'Allerta', sans-serif;
  margin-bottom: 70px;
  border-radius: 12px;
  background:linear-gradient(to right,#ff7250,#fe344e);
  color: white;
  border: none;
  padding: 6px 11px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.contenedor {
  max-width: 800px;
  margin: auto;
  position: relative;
}

.right {
  float: right;
  position: relative;
  bottom: 127px
}
.left {
  float: left;
  position: relative;
}


.guitarra {
  padding: 10px;
  margin: 10px 10px 40px 10px;
  /*overflow: hidden;*/
  border: 1px solid #1F313C;
  border-radius: 8px;

}

.guitarra ol {
  padding: 0;
}

.contenedor-guitarra-b {
  margin-left: 370px;
  position: relative;
  bottom: 90px;
}

.contenedor-guitarra-a {
  margin-right: 370px;
  padding-left: 20px;
}

.guitarra.b{
height: 190px;
}

.header{
  position: relative;
}

.footer{
  background: #273b47;
  padding: 50px 10px;
}

.contacto img {
  display: block;

}
.contacto strong{
display: block;
}

.contacto a{
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px;
}

.footer .contenedor {
  display: flex;
  justify-content: space-between;
}

.contacto {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}

.formulario {
  display: flex;
  width: 400px;
  color: white;
}

.col1, .col2 {
  display: flex;
  flex-direction: column;
}
.col1 {
  margin-right: 15px;
}
.intereses label {
  font-size: 12px;
}

.formulario label, .sexo , .intereses {
  margin-bottom: 10px;
}
.sexo {
  margin-top: 10px;
}

.col2 {
  align-items: flex-start;
}
.col2 .boton {
  margin-top: 10px;
}

table {
  width: 100%;
    border: 1px solid #273b47;
      border-collapse: collapse;
}
th {
  background: #273b47;
  color: white;
  padding: 10px 20px;
    border: 1px solid #273b47;
      border-collapse: collapse;
      text-align: left;
}
 td {
  padding: 20px;
  border: 1px solid #273b47;
  border-collapse: collapse;
}

.tabla{
  margin: 50px 0;
}

.logotipo {
  display: inline-block;
  margin-left: 0
}
.titulo span{
  text-decoration: underline;
}


/*tables*/
@media screen and (max-width: 800px) {

  /*portada*/
  .portada {
    height: auto;
  }
  .titulo {
    font-size: 45px;
    margin-top: 30px;
  }

  .contenedor .title-a {
    font-size: 18px;
  }

  .portada .boton {
    /*para poder agregar margenes, convertimos el display a inline-block porque inline no toma margenes*/
    display: inline-block;
    margin-bottom: 30px;
  }
/*portada*/

/*guitarras*/
.guitarras .title-a {
margin-top: 18px;
  font-size:30px;
}
  .guitarras {
    text-align: center;
  }

.right, .left {
  float: none;
  position: static;
}

.contenedor-guitarra-a {
  margin:0;
  padding: 0;
}
.title-b {
  margin: 0;
}

.guitarra li {
  list-style: none;
}

.guitarra.b {
  height: auto;
}
.contenedor-guitarra-b {
  position: static;
  margin: 0;
}
/*guitarras*/

}

@media screen and (max-width:767px) {
  /*footer*/
.footer .contenedor {
  display: block;
}

.contacto {
  margin: auto;
}

.formulario {
  display: block;
  margin: auto;
  width: 300px;
}
/*selector de atributo*/
input[type='text'],
input[type='email']  {
  padding:5px;
  font-size: 16px;
}

input[type='radio'],
input[type='checkbox'] {
  zoom: 1.5;

}

.intereses label {
  display: block;
  font-size: 16px;
}

.col1 {
  margin: 0;
}
textarea {
  width: 100%;
}
    /*footer*/

}

/*smarthpone*/
@media screen and (max-width:650px) {
/*header*/

.header {
  text-align: center;
}

.logotipo {
  margin: 0;
}

.menu {
  position: static;
  display: block;
}

.menu li:first-child {
  margin: 0;
}

.menu ul {
  padding: 0;
}
/*header*/

}

@media screen and (max-width:500px) {
/*portada*/
  .portada {
    text-align: center;
  }
  .menu li{
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;
  }

  .menu l:first-child {
    border-top: 1px solid white;
  }

  .menu li::before {
    display: none;
  }

  .titulo {
    font-size: 30px;
  }
  .portada .title-a {
    font-size: 16px;
  }
  /*portada*/

  .guitarra img {
    /*guitarras*/
    width: 200px;
  }
  .title-b {
    font-size: 30px;
  }
  /*guitarras*/

}
